.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding-bottom: 80px;
  background-color: #0f0f0f;
  position: relative;
}

.imageWrapper {
  position: absolute;
  left: 25%;
  width: 70%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--mantine-radius-lg);
}
.outlinedText {
  position: absolute;
  left: 7%;
  font-size: 200px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 4px white;
  text-transform: uppercase;
  opacity: 0.4;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.controls {
  position: absolute;
  left: 10px;
  bottom: 20px;
  display: flex;
  gap: 10px;
}

.controlButton {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease-in-out;
}

.controlButton:hover {
  background: rgba(255, 255, 255, 0.2);
}

.content {
  position: absolute;
  left: 24%;
  top: -5%;
  line-height: 20px;
  transform: rotate(-270deg) translateY(-50%);
  transform-origin: left center;
  width: max-content;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  transition: opacity 0.3s ease-in-out;
  padding: 10px 20px;
}
@media (max-width: 978px) {
  .floatingImage {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 62vh;
  }
  .imageWrapper {
    margin-top: 20px;

    left: 15%;
    opacity: 0.4;
    height: 440px;
  }

  .outlinedText {
    left: 9%;
    font-size: 125px;
    top: 55%;
  }
  .content {
    position: relative;
    left: 0;
    top: -130px;
    transform: rotate(0deg);
    text-align: center;
    width: 100%;
  }

  .controls {
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
  }
}
