.footer {
  /* margin-top: 20px; */
  background: rgb(228, 93, 6);
  background: linear-gradient(
    90deg,
    rgba(228, 93, 6, 1) 0%,
    rgba(255, 152, 44, 1) 41%,
    rgba(255, 192, 49, 1) 95%
  );
  padding: 15px 0;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  flex-wrap: wrap;
  text-align: center;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
  }
}

.links {
  display: flex;
  gap: 15px;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-sm);
  }
}

.socials {
  display: flex;
  gap: 20px;
  margin-top: var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-sm) {
    justify-content: center;
  }
}
