.header {
  height: 100px;
  background: #0f0f0f;

  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

.desktopLink {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: #e8e8e8;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.desktopLink::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.desktopLink:hover::after {
  width: 100%;
}

.mobileLink {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 10px;
  margin-left: 20px;
  text-decoration: none;
  color: #e8e8e8;
  font-weight: 500;
  font-size: 18px;
}
